body {
    background-color: rgb(5, 5, 5);
}

hr{
    border-style: dashed none none ;
    border-color: #B3541E;
    border-width: 5px;
    width: 10%;
}

h1{
    color: #A13333;
}

h3{
    color: #B3541E
}

p{
    color: #8f0808;
}

li{
    color: #8f0808;
}

th{
    color: #A13333;
}

td{
    color: #8f0808;
}